table {
    margin: 0 auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    height: 80px;
}

td {
    width: 200px;
    max-width: 200px;
    min-width: 150px;
    border: solid 1px black;
    position: relative;
    text-align: center;
}

.button_row {
    text-align: center;
}

.text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently*/
}

#all_table p {
    padding: 0;
    margin: 0;
    min-width: 10px;
    max-width: 190px;
    overflow: hidden;
    box-sizing: border-box;
}

input {
    width: 100%;
    box-sizing: border-box;
}
