* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/*header*/
.header {
    background-color: #2d313c;
    position: relative;
}

/* dropdown */
.dropdown {
    float: left;
    overflow: hidden;
    display: none;
}

.dropdown .dropbtn {
    font-size: 30px;
    border: none;
    outline: none;
    margin: -20px 0 0 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.dropdown-content a {
    float: none;
    color: #00d37b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* dropdown */

.header a {
    color: #727988;
}

.header_logo {
    padding: 10px;
}

.header_logo_img {
    height: 30px;
}

.header_items {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 0;
}

.header_items_user {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding: 10px 0 0 0;
}

.header_city {
    padding: 0 5px 0 0;
}

.angel_down_span {
    position: absolute;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding: 0 5px;
    font-weight: 700;
}

/*header*/

/*nav-header*/
.nav-header {
    background-color: #646d80;
    height: 40px;
}

.nav-header_items {
    margin-left: 10px;
}

.nav-header_items a {
    color: #ffffff;
    padding: 5px 0;
    margin-right: 20px;
    border-top: solid 5px;
    border-color: transparent;
    display: inline-block;
}

.nav-header_items a:hover {
    border-color: #fff;
    transition-duration: 1s;
}

/*nav-header*/

/*main*/
.main {
    background-color: #f2f4f8;
    min-height: calc(100vh - 91px);
}

.main .container {
    box-shadow: 0 3px 10px #e0e2e6;
    background-color: white;
    min-height: calc(100vh - 91px);
}

.main_container {
    position: relative;
    min-height: calc(100vh - 91px);
}

.main_container::before {
    content: "";
    position: absolute;
    left: 170px;
    height: 100%;
    width: 2px;
    background-color: #f2f4f8;
}

.main_menu {
    width: 100%;
    height: 100%;
    max-width: 170px;
    float: left;
    min-height: calc(100vh - 91px);
}

.main_content {
    min-height: calc(100vh - 91px);
}

.main_menu ul {
    list-style-type: none;
}

.main_menu h3 {
    padding: 10px 30px 10px 30px;
}

.main_menu ul li {
    border-left: solid white 5px;
}

.main_menu li a {
    color: #99a1b2;
    display: block;
    padding: 5px 30px 10px 25px;
}

.main_menu li a:hover {
    color: #000000;
}

.main_menu li:hover {
    border-left: solid #646d80 5px;
    transition-duration: 1s;
}

.main_content_top_city {
    border-bottom: 2px dotted black;
}

.main_content_top h1 {
    margin: 0;
    padding: 30px 0 30px 200px;
    min-width: 600px;
}

.main_content_search {
    height: 55px;
    padding-left: 170px;
}

.main_content_search_items {
    background-color: #f2f4f8;
    display: flex;
    justify-content: space-between;
}

.main_content_search_form {
    padding: 5px 5px 5px 25px;
    position: relative;
}

.main_content_search_form input {
    height: 45px;
    width: 300px;
    padding: 0 10px;
    border: solid #d6d9e1 1px;
    border-radius: 5px;
}

.main_content_search_form span {
    color: #646d7f;
    position: absolute;
    left: 290px;
    top: 10px;
    padding: 10px 10px;
}

.main_content_search_nav {
    padding: 17px 15px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    min-width: 130px;
}

.main_content_search_nav span {
    color: #646d7f;
}

.main_content_comment {
    margin: 30px 30px 30px 200px;
}

.main_content_comment_img {
    float: left;
}

.main_content_comment_items {
    margin: 0 0 0 80px;
}

.main_content_comment_top {
    display: flex;
    justify-content: space-between;
    color: #646d80;
    font-size: small;
}

.main_content_comment_top_1 {
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align: center;
}

.main_content_comment_top_1 span {
    min-width: 80px;
    padding-top: 3px;
}

.main_content_comment_top_1_status {
    padding: 3px 15px 3px 15px;
    background-color: #f2f4f8;
    border-radius: 5px;
}

.main_content_comment_top_2 {
    width: 95px;
    display: flex;
    justify-content: space-between;
}

.main_content_comment_title {
    color: #509ed1;
    padding: 5px 0;
    font-weight: 600;
}

.main_content_comment_text {
    padding-bottom: 15px;
}

.icon-price-tag {
    color: #646d80;
}

.main_content_button {
    width: 250px;
    margin-left: 45%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.main_content_button a {
    padding: 10px 15px;
    margin-right: 10px;
    color: black;
    border: solid #99a1b3 1px;
    border-radius: 50px;
}

.btn {
    background-color: #f2f4f8;
    color: #FFFFFF;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    padding: 15px 20px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.main_content_button span {
    padding: 0 5px;
}

.main_content_footer {
    margin-left: 170px;
    font-size: 14px;
    height: 91px;
}

.main_content_footer_top {
    /*margin-top: 150px;*/
    background-color: #f2f4f8;
}

.main_content_footer_top div {
    display: inline-block;
    padding: 14px 10px;
}

.main_content_footer_top a {
    color: #646d80;
    padding: 10px 0;
}

.main_content_footer_bot {
    border-top: #fff solid 2px;
    background-color: #f2f4f8;
    padding: 14px 10px;
    color: #646d80;
}

.main_content_footer_bot img {
    padding-right: 10px;
}

/*main*/


@media screen and (max-width: 650px) {

    .header {
        z-index: 1;
    }

    .nav-header {
        display: none;
    }

    .header_items {
        justify-content: center;
        height: 80px;
        padding-top: 20px;
    }

    .header_logo {
        margin-left: 100px;
    }

    .header_menu {
        display: block;
        position: absolute;
        top: 25px;
        left: 20px;
        font-size: 30px;
        color: #f2f4f8;
    }

    .header_items_user {
        justify-content: space-evenly;
    }

    .header_items_user .icon-bell {
        display: none;
    }

    .header_items_user .icon-mail4 {
        display: none;
    }

    .header_city {
        display: none;
    }

    .header_items_user_name {
        font-size: 20px;
        padding-right: 20px;
        min-width: 110px;
    }

    .header_items_user img {
        margin-right: 10px;
    }

    .header_items_user_search .icon-search {
        font-size: 25px;
    }

    .main_menu {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .dropdown .dropbtn {
        font-size: 30px;
        position: absolute;
        top: 0;
        margin: 20px 0 0 20px;
    }

    .dropdown-content {
        position: absolute;
        top: 50px;
        min-width: 150px;
        text-align: center;
    }

    .dropdown-content a {
        color: #646d7f;
        padding: 12px 16px;
    }

    .main_content_top h1 {
        margin: 0 auto;
        padding: 30px 0;
        text-align: center;
        min-width: 300px;
    }

    .main_content_search {
        padding-left: 0;
    }

    .main_content_search_form input {
        width: 250px;
    }

    .main_content_search_form span {
        left: 240px;
    }

    .main_content_comment {
        margin: 30px 30px 30px 30px;
    }

    .main_content_comment_top {
        display: inline-block;
        font-size: medium;
    }

    .main_content_comment_top_1 span {
        min-width: 100px;
    }

    .main_content_button {
        width: 43%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
    }

    .main_content_footer {
        margin-left: 0;
    }

    .main_container::before {
        display: none;
    }
}










